<%- include('_include/variables') %>
<% config.__title = __("Categories") + ": " + page.category + " - " + config.title %>
<%- include('_include/head') %>
<%- include('_include/container_head') %>
<%- include('_include/single_column_head') %>
<%- include('_include/side_nav') %>
<%- include('_include/extra_nav') %>

<div ref="streamContainer" class="stream-container">
    <div class="post-list-container post-list-container-shadow">
        <div class="post-item-wrapper post-item-wrapper-no-hover">
            <div class="post-item post-item-no-gaps">
                <div class="post-item-info-wrapper">
                    <div class="post-item-title  post-item-title-small">
                        <a href="<%= config.root + 'categories/' %>"><%= __("Categories") %></a> / <%= page.category %>
                    </div>
                </div>
            </div>
        </div>
        <% page.posts.each(function (item) { %>
        <a href="<%= config.root + item.path %>" class="a-block">
            <div class="post-item-wrapper">
                <div class="post-item post-item-no-gaps">
                    <div class="post-item-info-wrapper">
                        <div class="post-item-title">
                            <%= item.title %>
                        </div>
                        <div class="post-item-meta">
                            <%= date(item.date, "YYYY-MM-DD") %>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <% }) %>
    </div>
    <%- include('_include/pagination') %>

    <%- include('_include/single_column_footer') %>
</div>

<%- include('_include/container_tail') %>

<%- include('_include/tail') %>