<%- include('_include/variables') %>
[% @block OverrideVars %]
<%- include('_include/head') %>
<%- include('_include/container_head') %>
<%- include('_include/single_column_head') %>
<%- include('_include/side_nav') %>
<%- include('_include/extra_nav') %>

<div ref="streamContainer" class="stream-container">
    [% @block MainBody %]
    <%- include('_include/single_column_footer') %>
</div>

<%- include('_include/container_tail') %>
[% @block CommentsInclude %]
<%- include('_include/tail') %>