<div ref="sideContainer" class="side-container">
    <a class="a-block nav-head <%= is_current('/') && 'active' %>" href="<%= config.root %>">
        <div class="nav-title">
            <%- theme.sidebar_title ? theme.sidebar_title : config.title %>
        </div>
        <div class="nav-subtitle">
            <%- theme.sidebar_subtitle ? theme.sidebar_subtitle : config.subtitle %>
        </div>
    </a>

    <div class="nav-link-list">
        <% if (theme.archives) { %>
        <a class="a-block no-tint nav-link-item <%= is_current('archives') && 'active' %>" href="<%= config.root + "archives" %>">
            <%= __('Archive') %>
        </a>
        <% } %>

        <% if(site.pages){ %>
        <% site.pages.each(function (page){ %>
            <% if(page.no_visibility === void 0 || page.no_visibility === false){ %>
                <a class="a-block nav-link-item <%= is_current(page.path) && 'active' %>" href="<%= config.root + page.path %>">
                    <%= page.title %>
                </a>
            <% } %>
        <% });} %>

        <% if (theme.rss) { %>
        <a class="a-block no-tint nav-link-item" href="<%= config.root + theme.rss %>">
            <%= __('RSS') %>
        </a>
        <% } %>
    </div>

    <div class="nav-footer">
        &copy; <%= theme.copyright_start %> - <%= theme.copyright_end %> <a href="<%= config.url %>"><%= config.title %></a>
    </div>
</div>